<template>
  <div>文章详情</div>
</template>
<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";

@Component
export default class Articles extends Vue {}
</script>
<style lang="less" scoped></style>
