<template>
  <div>项目详情</div>
</template>
<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";

@Component
export default class Project extends Vue {}
</script>
<style lang="less" scoped></style>
