<template>
  <div>
    测试
  </div>
</template>
<script lang="ts">
import { Vue, Component, Watch, Prop } from "vue-property-decorator";
@Component
export default class test extends Vue{

}
</script>

