<template>
  <div>
    <el-dialog
      :visible.sync="visible"
      :title="title"
      width="500px"
      :before-close="close"
    >
      <el-form :model="form" ref="form" label-width="60px" :rules="rules">
        <el-form-item label="账户" prop="userName">
          <el-input v-model="form.userName"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="form.password"></el-input>
        </el-form-item>
      </el-form>
      <el-button
        style="width: 100%"
        v-if="dialogType === 'login'"
        type="primary"
        size="small"
        @click="login"
        >登录</el-button
      >
      <el-button style="width: 100%" type="primary" v-else size="small">注册</el-button>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Watch, Prop } from "vue-property-decorator";
import { Route } from "vue-router";
interface FormData{
  userName:String,
  password:String
}
@Component
export default class RegisterAndLogin extends Vue {
  private name: String = "registerModule";
  @Prop() private dialogType?: String;
  @Prop() private dialogVisible?: boolean;
  private visible: boolean = false;
  private title: String = "注册";
  private form:FormData = {
    userName:"",
    password:""
  }
  private rules:Object = {
    userName:[{required:true,message:"请输入账号",trigger:'blur'}],
    password:[{required:true,message:"请输入密码",trigger:'blur'}],
  }
  @Watch('dialogType')
  getDialogType(newVal:String,oldVal:String){
    if (newVal === "login") {
      this.title = "登录";
    }else{
      this.title = "注册";
    }
  }
  private show() {
      this.visible = true;
  }
  private close(): void {
    this.visible = false;
  }
  private login(): void {
    (this.$refs.form as Vue & {validate:Function}).validate((valic:boolean)=>{
      if(valic){
        this.$message.success('登录成功')
        this.$router.push('/test')
      }
    })
    // this.$message.success('操作成功')
  }
}
</script>
<style lang="less" scoped></style>
